{% extends 'base.html' %}
{% block title %}
    index
{% endblock %}
{% block content %}

<div class="container" style="width: 98%;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!--  <div class="col-md-8 col-md-offset-2">-->
            <br>
            <h1 class="site__title" style="font-size: 30px;font-weight: 350;">zMAP - Proteomics Analysis Platform</h1>
            <ul class="contents" style="list-style-type: none">
                <li>
                    <a href="#intro" style="font-weight:bold">1. What is zMAP?</a>
                </li>
                <li>
                    <a href="#diffential_analysis" style="font-weight:bold">2. Differential Analysis Module </a>
                </li>
                <ul>
                    <li>
                        <a href="#zMAP">zMAP</a>
                    </li>
                    <li>
                        <a href="#revese-zMAP">revese-zMAP</a>
                    </li>
                </ul>
                <li>
                    <a href="#downstream_analysis" style="font-weight:bold">3. Downstream Analysis Module </a>
                </li>
                <ul>
                    <li>
                        <a href="#PCA_Clust">PCA and Clustering</a>
                    </li>
                    <li>
                        <a href="#Enrichment">Gene Ontology and KEGG enrichment analysis</a>
                    </li>
                    <li>
                        <a href="#Network">Coexpression network analysis</a>
                    </li>
                </ul>
            </ul>

            <h2 id="intro" style="font-size: 24px;font-weight: 350;"> 1. What is zMAP?</h2>
            <p class="site__statement" style="font-size: 16px; max-width: 820px; margin-bottom: 0px; text-align: justify;">
                Function introduction.
                <br>
                labeling based mass spectrometry (MS) experiments, such as tandem mass tags (TMT) and isobaric tags for absolute and relative quantification (iTRAQ), are widely used for quantitatively profiling the proteomes in various cellular conditions, providing critical insights into the relative protein expression changes during many important biological processes including tissues differentiation and diseases.
                <br>
                <b>zMAP, a new computational framework </b>developed for simultaneously comparing multiple proteomic profiles and downstream functional analysis of detected protein expression changes.
            </p>
            <br>
            <h2 id="diffential_analysis" style="font-size: 24px;font-weight: 350;">2. Differential Analysis Module</h2>
            <h3 id="zMAP" style="font-size: 20px;font-weight: 350;">2.1 zMAP</h3>
            <h3 id="zMAP" style="font-size: 20px;font-weight: 350;">2.1 reverse-zMAP</h3>
            <p class="site__statement" style="font-size: 16px;  margin-bottom: 0px; text-align: justify;">
                reverse-zMAP module is primarily designed for handling MS runs with relatively large sample sizes. The major concern is that, with the increase of the number of samples, the odds that outlier measurements are involved for each specific protein increase, giving rise to excessively large variances. Consequently, in the sliding-window process of the zMAP module, the proportion of proteins that are suitable to use for the quantile regression in each window can be very small. Besides, fitting a single MVC for a large number of samples may not be flexible enough to allow for the variation of mean-variance trend across samples. In practice, large-scale proteomic studies have frequently applied the strategy of adding a biologically identical reference sample to each individual MS run.
                <br>
                For example, in cancer studies, a mixed sample is typically generated by pooling tumor samples and/or normal adjacent tissues (NATs) from several related patients in equal protein amounts. The proteome of this mixed sample is then profiled in every MS run separately. reverse-zMAP module alleviates the influence of outliers by repeatedly making pairwise comparisons, which in the meanwhile allows the modeling of sample-specific mean-variance trend, but it requires a biologically identical reference sample in each MS run for a subsequent integration across MS runs. </p>
            <br>


            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>
                        <code>Flag</code>
                    </th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>protein intensity file*</td>
                    <td>--intensity_data</td>
                    <td>A tab-delimited file containing raw gene-level protein intensity with samples in columns, and gene symbols in rows. Note: 1. The protein intensity matrice does not require normalization. 2. Sample names can only consist of letters, numbers, and underscores.</td>
                </tr>
            </table>

            <ul>
                <li>
                    <h5>Input Files</h5>
                    <ol>
                        <li>
                            <h6>protein intensity file (--intensity_data)</h6>A tab-delimited file containing raw gene-level protein intensity with samples in columns, and gene symbols in rows.
                            <br>
                            <em>Note:</em>
                            <ol>
                                <li class="bg-warning">The protein intensity matrice does not require normalization. </li>
                                <li>Sample names can only consist of letters, numbers, and underscores.</li>
                            </ol>
                        </li>
                        <li>
                            <h6>sample information file (--sample_information)</h6>Sample information file is a four-column, tab-delimited file with the first line identifying the columns. The column names are ‘Sample_id’ ‘MS_run’ ‘Sample_condition’ and ‘internal_ref’.
                            <br>
                            <br>
                            <em>Note:</em>
                            To avoid code conflicts, ‘Sample_condition’ consists only of letters, numbers, and underscores.
                            The column headers are:
                            <dl class="dl-horizontal">
                                <dt>Sample_id</dt>
                                <dd>Sample_id can only consist of letters, numbers, and underscores.</dd>
                                <dt>MS_run</dt>
                                <dd>The MS run in which the proteins of the sample were quantified.</dd>

                            </dl>
                        </li>
                    </ol>

                    <ol></ol>
                </li>
                <li>
                    <h5>Output Files</h5>
                </li>
            </ul>


            <h2 style="font-size: 24px;font-weight: 350;">3. Downstream Analysis Module</h2>

        </div>




    </div>
</div>
{% endblock %}

