{% extends 'base.html' %} 
{% block title %}
    reverse-zMAP
{% endblock %}
{% block content %}

<div class="container" style="width: 98%;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-6">
          <br /><br />
	  <h1 style="display: block; margin-left: auto; margin-right: auto; font-size: 24px; letter-spacing: 0.18rem; margin-top: 0px; margin-bottom: 0px;">reverse-zMAP module</h1>
	  <br /><br />
          <img src="{{ url_for('lib.static', filename='img/reverse_zmap_workflow.png') }}" class="img-fluid" style="max-width: 90%; height: auto; text-align: center">

        </div>
        <div class="col-md-6">
          <br />
          <br />
	  <br />
	  <br />
	<h2 style="display: block; margin-left: auto; margin-right: auto; font-size: 20px; letter-spacing: 0.18rem; margin-top: 0px; margin-bottom: 0px;">Functional Description:</h2>
          <p>reverse-zMAP module is primarily designed for handling MS runs with relatively large sample sizes. 
      The major concern is that, with the increase of the number of samples, the odds that outlier measurements 
      are involved for each specific protein increase, giving rise to excessively large variances. Consequently, 
      in the sliding-window process of the zMAP module, the proportion of proteins that are suitable to use for the 
      quantile regression in each window can be very small. Besides, fitting a single mean-variance curve (MVC) for a 
      large number of samples may not be flexible enough to allow for the variation of mean-variance trend across samples. 
      In practice, large-scale proteomic studies have frequently applied the strategy of adding a biologically identical 
      reference sample to each individual MS run. For example, in cancer studies, a mixed sample is typically generated 
      by pooling tumor samples and/or normal adjacent tissues (NATs) from several related patients in equal protein amounts. 
      The proteome of this mixed sample is then profiled in every MS run separately. reverse-zMAP module alleviates the influence 
      of outliers by repeatedly making pairwise comparisons, which in the meanwhile allows the modeling of sample-specific 
      mean-variance trend, but it requires a biologically identical reference sample in each MS run for a subsequent integration across MS runs. <br>
   
            A test example is:<br>
            Protein intensity file(tab-delimited): <a href="{{url_for('manual.example_data',example_file='reverse_zMAP_protein_intensity.txt')}}">reverse_zMAP_example_protein_intensity.txt</a><br>
            Sample information file(tab-delimited): <a href="{{url_for('manual.example_data',example_file='reverse_zMAP_sample_info_add_internal_ref.txt')}}">reverse_zMAP_example_sample_info.txt</a><br>
          </p>
          <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div id="upload_form1">
            <br />
            <form action="{{url_for('reverse_zMap.index')}}" class="form-group" role="form" method="post" id="formID" enctype="multipart/form-data">
              <div class="control-group" style="margin-bottom: 24px">
                <label for="input-1" class="control-label">
                  <b>Protein intensity file</b>
                </label>
                <input id="input-1" name="input-1" type="file" accept=".txt" data-show-preview="false" class="file-loading" />
                <p id="errorBlock1"></p>
              </div>
              <div class="control-group" style="margin-bottom: 24px">
                <label for="input-2" class="control-label">
                  <b>Sample information file</b>
                </label>
                <input id="input-2" name="input-2" type="file" accept=".txt" data-show-preview="false" class="file-loading" />
                <p id="errorBlock2"></p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="control-group" style="margin-bottom: 24px"> 
                  <label class="control-label"><b>Window size</b></label> 
                  <div class="controls "> 
                  <input type="number" class="form-control" required="" min="100" max="1000" name="window_size" value="400" /> 
                  </div> 
                  </div> 
                </div>
                <div class="col-md-4">
                  <div class="control-group" style="margin-bottom: 24px"> 
                  <label class="control-label"><b>Step size</b></label> 
                  <div class="controls "> 
                  <input type="number" class="form-control" required="" min="80" name="step_size" value="100" /> 
                  </div> 
                  </div> 
                </div>

                <div class="col-md-4">
                  <div class="control-group" style="margin-bottom: 24px"> 
                  <label class="control-label"><b>Proportion of proteins used for linear regression(%)</b></label>
                  <div class="controls "> 
                  <input type="number" class="form-control" required="" min="30" max="50" name="percent" value="50" /> 
                  </div> 
                  </div> 
                </div>
              </div>
              <div class="control-group" style="margin-bottom: 24px">
                <label class="control-label">
                  <b>MVC fitting method</b>
                </label>
                <select class="form-control" style="margin-bottom: 24px" name="method">
                  <option value="exponential_function">exponential model</option>
                  <option value="natural_cubic_spline">natural cubic spline model</option>
                </select>
              </div>
              <div class="control-group" style="margin-bottom: 24px">
                <label class="control-label">
                  <b>Email address<i>(optional)</i>
                  </b>
                </label>
                <div class="controls control-label">
                  <input type="email" class="form-control" name="email" data-validation-email-message="Invalid email" />
                </div>
              </div>
              <button type="reset" class="btn btn-primary" style="background-color: #CA8115;height: 45px;width: 80px;float: left;margin-left: 50px">Reset</button>
              <button type="submit" class="btn btn-primary" style="background-color: #27357e;height: 45px;width: 80px;float: right;margin-right: 20px" onclick="alert('please upload a valid file.')">Submit</button>
            </form>
            <br />
            <br />
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
function free(){
   $("#formID").attr("action","{{url_for('reverse_zMap.index')}}");
};
var variable1;
var variable2;
var file1Uploaded = false;
var file2Uploaded = false;
function checkAllFilesUploaded() {
    if (file1Uploaded && file2Uploaded) {
      
       $("button[type=reset]").prop('disabled',false);
       $("button[type=submit]").prop('disabled',false);
       $("button[type=submit]").removeAttr("onclick");
       $("button[type=reset]").attr("onclick","free();");
       $("#formID").attr("action","{{ url_for('reverse_zMap.reverse_zMap_processing', process_id1='ADDSHARE2',process_id2='ADDSHARE3') }}".replace("ADDSHARE2", variable1).replace("ADDSHARE3", variable2));
    }
};

$(document).on('ready', function() {
    $("#input-1").fileinput({
        showUpload:false,
        showRemove:false,
        showClose:false,
        uploadUrl:"{{url_for('reverse_zMap.validate',input_type='protein_intensity') }}",
        elErrorContainer: "#errorBlock1",
        layoutTemplates: {progress: '<div class="progress-bar progress-bar-striped text-center" aria-valuemax="100" style="width:{percent}%; border-radius:4px;">\n' +
    '        {status}\n' +
    '     </div>\n' }
    }).on("filebatchselected",function(event,files){
            $(this).fileinput("upload");
            $("button[type=reset]").prop('disabled',true);
            $("button[type=submit]").prop('disabled',true);
    }).on("fileuploaded",function(event,data){
            if(data.response){
                if(data.response.id){
                  variable1 = data.response.id;
                  file1Uploaded = true;                  
                  checkAllFilesUploaded();
                }
               
            }
        });

    $("#input-2").fileinput({
        showUpload:false,
        showRemove:false,
        showClose:false,
	      uploadUrl:"{{url_for('reverse_zMap.validate',input_type='sample_info',process_id='empty') }}",
        elErrorContainer: "#errorBlock2",
        layoutTemplates: {progress: '<div class="progress-bar progress-bar-striped text-center" aria-valuemax="100" style="width:{percent}%; border-radius:4px;">\n' +
    '        {status}\n' +
    '     </div>\n' }


    }).on("filebatchselected",function(event,files){
            $(this).fileinput("upload");
            $("button[type=reset]").prop('disabled',true);
            $("button[type=submit]").prop('disabled',true);

    }).on("fileuploaded",function(event,data){
            if(data.response){
                if(data.response.id){
                  variable2 = data.response.id;
                  file2Uploaded = true;
                  checkAllFilesUploaded();
                }
               
            }
        });


      $("input").not("[type=submit]").jqBootstrapValidation();
 
           

});



</script>  
{% endblock%} 
