15:        <a href="#intro" style="font-weight:bold">1. What is zMAP?</a>
18:        <a href="#zMAP" style="font-weight:bold">2. Differential Analysis Module </a>
22:            <a href="#zMAP">zMAP</a>
25:            <a href="#revese-zMAP">revese-zMAP</a>
29:        <a href="#downstream_analysis" style="font-weight:bold">3. Downstream Analysis Module </a>
33:            <a href="#QC">Sample quality control</a>
36:            <a href="#HVPannotate">HVPs identification and clustering</a>
39:            <a href="#Sample_subgroup">Sample subgrouping</a>
42:            <a href="#AssClinical">Association with clinical feature</a>
45:            <a href="#Surv">Survival analysis</a>
48:            <a href="#AssSurv">Association with survival data</a>
51:            <a href="#AssMut">Association with mutation data</a>
54:            <a href="#GSVA">Gene sets variation analysis</a>
57:            <a href="#Network">Co-expression network analysis</a>
229:href="/shaolab/zMAP/manual/example/zMAP_example_protein_intensity.txt">example</a>)</span></h3>
249:href="/shaolab/zMAP/manual/example/zMAP_example_sample_info.txt">example</a>)</span></h3>
295:href="/shaolab/zMAP/manual/example/zmap_output_example_z_statistic_table.txt">z_statistic_table.txt</a>
308:href="/shaolab/zMAP/manual/example/zmap_output_example_chi_square_pvalue.txt">zmap_chi_square_pvalue.txt</a></span></p>
481:href="/shaolab/zMAP/manual/example/reverse_zMAP_protein_intensity.txt"><span
502:href="/shaolab/zMAP/manual/example/reverse_zMAP_sample_info_add_internal_ref.txt"><span
563:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_z_statistic_table.txt"><span
576:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_chi_square_pvalue.txt"><span
591:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_qc_boxplot.pdf"><span
596:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_qc_table.pdf"><span
609:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_r2_linear_model_boxplot.pdf"><span
619:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_r2_distribution_of_nonlinear_model_fitting_for_estimated_variance.pdf.pdf"><span
628:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_r2_distribution_of_nonlinear_fitting_for_intercept_u.pdf"><span
637:href="/shaolab/zMAP/manual/example/reverse_zmap_output_example_cumulative_distribution.pdf"><span
709:href="/shaolab/zMAP/manual/example/sampleQC_example_z_statistic_table.txt">example</a>)</span></h3>
718:href="/shaolab/zMAP/manual/example/sampleQC_example_sample_info.txt">example</a>)</span></h3>
768:href="/shaolab/zMAP/manual/example/sampleQC_output_example_pearsonr_correlation_coefficient_of_z_statistic.txt">pearsonr_correlation_coefficient_of_z_statistic.txt</a></span></p>
775:href="/shaolab/zMAP/manual/example/sampleQC_output_example_pearsonr_correlation_coefficient_of_z_statistic.pdf">pearsonr_correlation_coefficient_of_z_statistic.pdf</a></span></p>
783:href="/shaolab/zMAP/manual/example/sampleQC_output_example_pca_df.txt"><span lang=EN-US>pca_df.txt</span></a></p>
796:href="/shaolab/zMAP/manual/example/sampleQC_output_example_PC1_PC2_scatterplot.pdf"><span
961:href="/shaolab/zMAP/manual/example/HVP_example_zmap_chi_square_pvalue.txt">example</a>)</span></h3>
969:href="/shaolab/zMAP/manual/example/HVP_example_z_statistic_table.txt">example</a>) </span></h3>
978:href="/shaolab/zMAP/manual/example/HVP_example_sample_info.txt">example</a>)</span></h3>
995:href="/shaolab/zMAP/manual/example/hvp_output_example_hypervariable_proteins_cluster_heatmap_bh_cutoff_0.05.pdf">hypervariable_proteins_cluster_heatmap_bh_cutoff_0.05.pdf
1027:href="/shaolab/zMAP/manual/example/hvp_output_example_top_100_differentially_expressed_proteins_heatmap.pdf">top_100_differentially_expressed_proteins_heatmap.pdf</a>
1126:href="/shaolab/zMAP/manual/example/SamSubgroping_example_z_statistic_table.txt"><span
1135:href="/shaolab/zMAP/manual/example/SamSubgroping_example_sample_info.txt"><span
1162:href="https://bioconductor.org/packages/release/bioc/vignettes/ConsensusClusterPlus/inst/doc/ConsensusClusterPlus.pdf"><span
1346:href="/shaolab/zMAP/manual/example/AssClinical_example_z_statistic_table.txt">example</a>) </span></h3>
1354:href="/shaolab/zMAP/manual/example/AssClinical_example_sample_cluster.txt">example</a>) </span></h3>
1363:href="/shaolab/zMAP/manual/example/AssClinical_example_clinical_info.txt">example</a>)</span></h3>
1375:href="/shaolab/zMAP/manual/example/AssClinical_example_discrete_color.txt">example</a>)</span></h3>
1386:href="/shaolab/zMAP/manual/example/AssClinical_example_continuous_colorbar.txt">example</a>)</span></h3>
1397:href="https://matplotlib.org/stable/users/explain/colors/colormaps.html"><span
1407:href="/shaolab/zMAP/manual/example/sample_clustering_association_with_clinical_and_molecule_feature.pdf">sample_clustering_association_with_clinical_and_molecule_feature.pdf</a></span></p>
1469:href="/shaolab/zMAP/manual/example/Surv_example_survival_group.txt"><span
1486:href="/shaolab/zMAP/manual/example/survival_analysis_output_example.pdf"><span
1554:href="/shaolab/zMAP/manual/example/AssSurv_example_z_statistic_table.txt">example</a>) </span></h3>
1562:href="/shaolab/zMAP/manual/example/AssSurv_example_survival.txt">example</a>)</span></h3>
1582:href="/shaolab/zMAP/manual/example/AssSurvival_output_example_results_cox_regression.txt">results_cox_regression.txt</a></span></p>
1723:href="/shaolab/zMAP/manual/example/AssMutation_example_z_statistic_table.txt">example</a>) </span></h3>
1732:href="/shaolab/zMAP/manual/example/AssMutation_example_mutation.txt">example</a>)</span></h3>
1741:href="/shaolab/zMAP/manual/example/AssMutation_example_covariates.txt">example</a>)</span></h3>
1751:href="/shaolab/zMAP/manual/example/AssMutation_example_gene_location.txt">example</a>)</span></h3>
1762:href="/shaolab/zMAP/manual/example/AssMutation_example_chr_length.txt">example</a>)</span></h3>
1778:href="/shaolab/zMAP/manual/example/pQTL_results_FDR_0.05.pdf">pQTL_results_FDR_XX.pdf</a></span></span><span
1794:href="/shaolab/zMAP/manual/example/results_association_z_statistic_with_mutation.txt">results_association_z_statistic_with_mutation.txt</a></span></p>
1801:href="/shaolab/zMAP/manual/example/mutation_associated_protein_count.txt">mutation_associated_protein_count.txt</a></span></p>
1908:21.0pt'><span lang=EN-US>1.z statistic file (<a href="/shaolab/zMAP/manual/example/GSVA_example_z_statistic_table.txt">example</a>) </span></h3>
1916:21.0pt'><span lang=EN-US>2.Sample information file (<a href="/shaolab/zMAP/manual/example/GSVA_example_sample_info.txt">example</a>) </span></h3>
1929:href="/shaolab/zMAP/manual/example/kegg_gsva_kcdf_Gaussian.csv"><span lang=EN-US>kegg_gsva_kcdf_Gaussian.csv</span></a></p>
1933:href="/shaolab/zMAP/manual/example/go_gsva_kcdf_Gaussian.csv"><span lang=EN-US>go_gsva_kcdf_Gaussian.csv</span></a></p>
1940:href="/shaolab/zMAP/manual/example/kegg_gsva_differential_pathway_activity_top_50.csv"><span
1947:href="/shaolab/zMAP/manual/example/go_gsva_differential_pathway_activity_top_50.csv"><span
1959:href="/shaolab/zMAP/manual/example/kegg_gsva_differential_pathway_activity_top_50_adj.P.Val_0.05.pdf"><span
1964:href="/shaolab/zMAP/manual/example/go_gsva_differential_pathway_activity_top_50_adj.P.Val_0.05.pdf"><span
